.message {
  margin: 0;
  position: relative;
}

.message-normal {
  position: relative;
  z-index: 1;
}

.message-content {
  color: white;
  padding: 8px 30px 12px 30px;
  border-radius: 40px 40px 40px 10px;
  background-color: rgb(99, 99, 99);
}

.message-content-reply {
  filter: saturate(60%);
  right: -20px;
  bottom: -10px;
  position: relative;
  width: fit-content;
  transition: 0.3s ease;
}

.message-content-reply .platform {
  bottom: 3px;
  font-size: 10px;
}

.message-content-reply:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.message-text {
  font-size: 18px;
  margin: 0 0 15px;
}

.message-sender {
  margin: 5px 0 0;
  opacity: 0.8;
  font-weight: 600;
}

.platform {
  font-size: 12px;
  position: absolute;
  bottom: -5px;
  right: 30px;
  font-weight: 600;
}

.message-date {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
}

.whatsapp {
  background-color: #25d366;
}

.instagram {
  background-color: #e1306c;
}

.facebook {
  background-color: #1877f2;
}
